* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: auto;
}

nav {
    width: 100%;
    height: 40px;

    display: flex;
    justify-content: space-between;
}

nav ul.box-1 {

    width: 80px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul.box-2 {

    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul.box-2 button {
    background-color: #3A414A;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    color: white;
}


.hero-section {

    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-section p {
    padding-top: 15px;
    padding-bottom: 20px;
    font-size: 14px;
}

.hero-section button {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: #3A414A;
    color: white;
}

.image-box {

    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.image-1 {

    width: 250px;
    height: 210px;
    background-image: url(./1.png);
    background-size: cover;
}

.image-2 {

    width: 250px;
    height: 210px;
    background-image: url(./2.png);
    background-size: cover;
}

.image-3 {

    width: 250px;
    height: 210px;
    background-image: url(./3.png);
    background-size: cover;
}

@media (max-width:768px) {
    .container {
        background-color: aqua;
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .hero-section {
        width: 100%;
        height: 220px;
        flex-direction: column;
        text-align: center;
        display: flex;
        justify-content: center;


    }

    .hero-section button {}

    .hero-section p {
        width: 100%;
        height: auto;

    }

    .nav {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .image-box {
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .image-1 {
        width: 100%;
        height: 400px;
    }
    .image-2{ 
        width: 100%;
        height: 400px;}
        .image-3{ 
            width: 100%;
            height: 400px;}
}